body {
    font-family: 'Roboto', sans-serif;
    background-color: #FFFFF0;
    color: #333;
    margin: 0;
    padding: 0;
}

header {
    background-color: #228B22;
    color: white;
    padding: 1rem;
    text-align: center;
}

main {
    padding: 1rem;
}

h1, h2 {
    color: #228B22;
}

footer {
    background-color: #228B22;
    color: white;
    text-align: center;
    padding: 1rem;
    margin-top: 2rem;
}
